/* Empty. Add your own CSS if you like */

#notes-header {
  font-family: 'Gochi Hand', cursive;
  font-size: 30px;
}

div.note-title, div.tag-title {
  display: flex;
  align-items: center;
}

h2.note-title {
  color: red;
  font-size: 16px;
}

div.note-close, div.note-edit {
  display: flex;
  align-items: center;
}

a.note-close, a.note-edit {
  margin-left: auto;
}

textarea {
  resize: none;
  padding: 10px;
  text-indent: 0;
}

span.tag {
  background-color: #999;
  color: #fff;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
}

p.tag {
  margin-top: 10px;
}
